language: ruby
rvm:
  - 2.5
jobs:
  include:
    - stage: test
      install:
        - npm install -g firebase-tools
        - gem install bundler
        - bundle install --jobs=3 --retry=3
      script:
        - jekyll build
    - stage: deploy
      if: branch = release
      script:
        - firebase deploy --token $FIREBASE_TOKEN
branches:
  only:
    - release
    - master
