  <footer class="fdb-block footer-large">
    <div class="container">
      <div class="row align-items-top text-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-sm-left">
          <h3><strong>Quicklinks</strong></h3>
          <nav class="nav flex-column">
              <a class="nav-link" href="{{ site.url }}">Home <span class="sr-only">(current)</span></a>
              <a class="nav-link" href="attacks">Attacks</a>
              <a class="nav-link" href="blog">Blog</a>
              <a class="nav-link" href="about">About</a>
          </nav>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5 mt-sm-0 text-sm-left">
          <h3><strong>Get Help</strong></h3>
          <nav class="nav flex-column">
            <a class="nav-link active" href=" ">Police</a>
            <a class="nav-link" href=" ">Red Cross</a>
            <a class="nav-link" href=" ">FAQ</a>
            <a class="nav-link" href=" ">Support</a>
          </nav>
        </div>

        <div class="col-12 col-md-4 col-lg-3 text-md-left mt-5 mt-md-0">
          <h3><strong>About Us</strong></h3>
          <p>{{- site.description | escape -}}</p>
        </div>

        <div class="col-12 col-lg-2 ml-auto text-lg-left mt-4 mt-lg-0">
          <h3><strong>Follow Us</strong></h3>
          <p class="text-h3">
            <a href=" "><i class="fa fa-twitter" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <a href=" "><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <a href=" "><i class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <a href=" "><i class="fa fa-pinterest" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <a href=" "><i class="fa fa-google" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col text-center">
          Built with Froala
        </div>
      </div>
    </div>
  </footer>
