.report-button {
  background-color: #ba000d;
  color: white;
  text-align: center;
  font-size: 24px;
  border-radius: 4px;
  border: 1px solid green;
}

.fdb-block {
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-content {
  padding: 0 0;
}

textarea {
  width: 100%;
  height: 300px;
  resize: none;
}

.wrapper {
  max-width: 800px;
}
